# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Desarrollo de Software\Estructuras de datos 2\Tareas y laboratorios programados\Semana 13\contadorThreads\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
